* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: no;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --initial-battery: 0%;
  --battery-level: 50%;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: #1e1e2c;
  color: #ffffff;
  letter-spacing: 0.68px;
}
.prompt {
  position: absolute;
  width: 50%;
  height: 40%;
  top: 30%;
  left: 25%;
  background: #183055;
  font-weight: 500;
  border-radius: 50px;
  padding: 1rem;
  z-index: 2;
}
.dis {
  display: none;
}
.pos-rest {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.pos-rest h2 {
  text-align: center;
}
.pos-close {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
#close {
  width: 1rem;
  height: 1rem;
  margin: 1rem 1rem 0 0;
}
#portNum {
  background: #171821;
  width: 50%;
  padding: 1rem 2rem;
  color: #ffffff;
  outline: none;
  border-radius: 50px;
  border-style: none;
  font-size: 1rem;
}
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.hide {
  background: #00000099;
  opacity: 0.5;
  pointer-events: none;
}
header {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav {
  background-color: #171821;
  position: relative;
  width: 70%;
  height: 60%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.icons {
  margin: 1rem;
}
.bar {
  position: absolute;
  width: 0.2rem;
  left: 0;
  background: #0277fa;
  transform: scaleY(1.5);
  transition: all 0.3s ease;
}
main {
  height: 100%;
  width: 90%;
  overflow-y: scroll;
}
.video,
.stats {
  height: 100vh;
  width: 90vw;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.setup {
  align-items: center;
  justify-content: center;
}
.control {
  height: 100vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.display {
  height: 90%;
  width: 97%;
  /* border: 1px solid white; */
  border-radius: 50px;
  display: flex;
  flex-direction: column;
}
.video .display {
  background-color: #171821;
  outline: none;
}
.stats .display {
  height: 95%;
}
.control .display {
  justify-content: space-evenly;
}
h1 {
  flex: 1;
  font-weight: 600;
  font-size: 2rem;
}
h2 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 10px 0px;
}
.port {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.port-num {
  background: #171821;
  border-radius: 100px;
  padding: 1rem 2rem;
  font-weight: 500;
}
.port-btn {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.setter-btn {
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.68px;
  background: #0277fa33;
  color: #ffffff;
  border-radius: 100px;
  padding: 1rem 2rem;
  border-style: none;
}
.slider-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.slider-capsule {
  width: 70%;
  padding: 1.5rem 2.5rem;
  border-radius: 100px;
  background: #171821;
}
.slider {
  width: 100%;
  outline: none;
}
.value-display {
  text-align: center;
  width: 15%;
  padding: 1.5rem 2rem;
  border-radius: 100px;
  background: #171821;
  font-weight: 400;
}
.graphs-display {
  flex: 8;
  display: flex;
  /* border: 1px solid white; */
}
.graph-control {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
}
.graph-btn {
  flex: 1;
  margin: 5px 0px;
  max-height: 7.5rem;
  border-style: none;
  border-radius: 20px;
  background-color: #171821;
  transition: all 0.5s ease;
  color: #ffffff;
  font-size: 1rem;
  letter-spacing: 0.68px;
}
.graph-btn:hover,
.graph-btn:focus {
  background-color: #0277fa33;
}
.graph-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  /* border: 1px solid white; */
}
.graph {
  flex: 1;
  background-color: #171821;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#chartContainer {
  max-height: 90%;
  max-width: 95%;
}
.drone-stats {
  margin-top: 10px;
  flex: 4;
  display: flex;
  /* border: 1px solid white; */
}
.drone-stats > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
}
.principal-axis,
.speed,
.acceleration {
  padding-left: 2rem;
}
.content {
  height: 100%;
  width: 100%;
  background-color: #171821;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.principal-axis .content,
.speed .content,
.acceleration .content {
  flex-direction: column;
}
div[id^="x"],
div[id^="y"],
div[id^="z"] {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
label {
  color: #ffffff80;
  font-size: 0.9rem;
}
sup {
  font-size: 0.9rem;
  vertical-align: top;
}
.indicator {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#level {
  width: 40%;
}
.outer-circle {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  border: 2px solid #0277fa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-circle {
  position: relative;
  width: 90%;
  height: 90%;
  shape-outside: circle();
  clip-path: circle();
  background: #1e1e2c;
  overflow: hidden;
}
.before {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.after {
  position: absolute;
  z-index: -2;
  bottom: -50%;
  left: -50%;
  height: 200%;
  width: 200%;
  background: linear-gradient(
    180deg,
    rgba(2, 119, 250, 0.4) 0.05%,
    rgba(2, 119, 250, 0.9) 79.12%
  );
  border-radius: 45%;
  animation: spin 5s ease-out forwards;
}
@keyframes spin {
  0% {
    transform: translateY(var(--initial-battery)) rotate(0deg);
  }
  100% {
    transform: translateY(var(--battery-level)) rotate(500deg);
  }
}

@media (min-height: 1024px) {
  .graph-control button {
    margin: 15px 0px;
  }
}
